body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRq4GCYQSnENw5sNRGEiNDUxxvnT_BsOf9LCc_kqtEnE32_x33X");
     background-size: cover ;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
  color:white;
}

.titleborder {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  text-align: center;
  background-color: Pink;
  color: black;
}

h2 {
	font-size: 56px;
}


.hero {
	padding: 250px 0;
	margin-top: -120px;
  font-family:'Trebuchet MS', Helvetica, sans-serif;
  
}



p {
  font-size: 3rem;
  margin-top: -20px;
color:rgb(0,25,255);
}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
	text-decoration: underline;
}
.titleborder {
border: solid 2px;
border-color: black;
margin-right: 520px;
margin-left: 520px;
text-align: center;
margin-top: -45px;
background-color: transparent: 50%;
}
.sidebar {
	height: 40px;
	width: 60px;
	margin-left: 29px;
	border: 2px solid black;
	margin-bottom: -22px;
	margin: 20px;


}
.Instagram {
background-image: url(http://3835642c2693476aa717-d4b78efce91b9730bcca725cf9bb0b37.r51.cf1.rackcdn.com/Instagram_App_Large_May2016_200.png); 
background-size: cover;
height: 60px;
	width: 60px;
	margin-left: 29px;
	border: 0px solid black;
	margin-bottom: -22px;
	margin: 20px;


}
.Facebook {
background-image: url(http://i.imgur.com/ieB2v8s.png?1);
background-size: cover;
height: 60px;
	width: 60px;
	margin-left: 29px;
	border: 0px solid black;
	margin-bottom: -22px;
	margin: 20px;

}
.Twitter {
background-image: url(http://i.imgur.com/4yr6aGx.png);
background-size: cover;
height: 60px;
	width: 60px;
	margin-left: 29px;
	border: 0px solid black;
	margin-bottom: -22px;
	margin: 20px;
}
.Twitter a:hover {
	background-color: blue;
}
